[submodule "chromium-ppc64le-patches-quilt"]
	path = docker-root/patches/chrome/chromium-ppc64le-patches-quilt
	url = ../chromium-ppc64le-patches-quilt.git
[submodule "ungoogled-chromium"]
	path = docker-root/patches/chrome/ungoogled-chromium
	url = https://github.com/Zoraver/ungoogled-chromium.git
